@import "tailwindcss";
@plugin "daisyui";
@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}

.fade-up {
  opacity: 0; /* hidden initially */
  animation: fadeUp 0.6s forwards;
}

